APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
# Use "redis" with Laravel Horizon (run: composer run dev:horizon). Use "database" for queue:work/queue:listen.
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID=A3005236-116E-48A2-A595-127899740638
REVERB_APP_KEY=84534422-502E-475A-A06B-28E162637429
REVERB_APP_SECRET=10319111-5E65-47E0-8B8F-189704999939
REVERB_HOST=flitops.test
REVERB_PORT=8080
REVERB_SCHEME=https
REVERB_ALLOWED_ORIGINS="${APP_URL}"

HORIZON_ADMINS=admin@example.com

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST=127.0.0.1
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
VITE_REALTIME_DEBUG=true

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

FREE_DOMAIN=flitops.xyz
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

GITHUB_CLIENT_ID=Ov23liGNyYNExQLRmrnA
GITHUB_CLIENT_SECRET=add884a4b7d7f0594006575b894bdde2ec89e174
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback

GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=http://localhost:8000/auth/gitlab/callback
GITLAB_HOST=https://gitlab.com

BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
BITBUCKET_REDIRECT_URI=http://localhost:8000/auth/bitbucket/callback
BITBUCKET_HOST=https://bitbucket.org